<div [formGroup]="form" [ngSwitch]="status">
  <ng-container *ngSwitchCase="TASK_STATUS.STATUS_2">
    <label for="priceA">Supplier price #1</label>
    <input id="priceA" type="text" formControlName="priceA" />
    <small *ngIf="isInvalid('priceA')">Price #1 is required.</small>

    <label for="priceB">Supplier price #2</label>
    <input id="priceB" type="text" formControlName="priceB" />
    <small *ngIf="isInvalid('priceB')">Price #2 is required.</small>
  </ng-container>

  <ng-container *ngSwitchCase="TASK_STATUS.STATUS_3">
    <label for="receipt">Receipt reference</label>
    <input id="receipt" type="text" formControlName="receipt" />
    <small *ngIf="isInvalid('receipt')">Receipt is required.</small>
  </ng-container>
</div>
