<div [formGroup]="form" class="dynamic-fields">
  @for (field of fields; track field.field.field) {
    @if (field.isArray) {
      <fieldset class="dynamic-fields__group">
        <legend>{{ field.label }}</legend>

        @for (controlName of field.controlNames; track controlName; let index = $index) {
          <label [for]="controlName">{{ field.label }} #{{ index + 1 }}</label>
          <input [id]="controlName" [type]="field.inputType" [formControlName]="controlName" />
          @if (isInvalid(controlName)) {
            <small>{{ errorMessage(field, controlName) }}</small>
          }
        }
      </fieldset>
    } @else {
      <label [for]="field.controlNames[0]">{{ field.label }}</label>
      @if (field.inputType === 'textarea') {
        <textarea [id]="field.controlNames[0]" rows="4" [formControlName]="field.controlNames[0]"></textarea>
      } @else {
        <input [id]="field.controlNames[0]" [type]="field.inputType" [formControlName]="field.controlNames[0]" />
      }
      @if (isInvalid(field.controlNames[0])) {
        <small>{{ errorMessage(field, field.controlNames[0]) }}</small>
      }
    }
  }
</div>
